backend_server/.env
ml_server/models/cc.ko.300.bin
ml_server/venv
.DS_Store
backend_server/venv
backend_server/__pycache__
backend_server/*.log
backend_server/*.pid
ml_server/__pycache__
ml_server/*.log
ml_server/*.pid
__pycache__
backend_server/venv
ml_server/venv
trainer/venv
.env
testing/venv
testing/training/modernbert-review-category-router
testing/training/modernbert-large-fake-review-detector/
testing/training/train.log
